<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qingmei2.rximagepicker_extension_wechat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity android:name=".ui.WechatImagePickerActivity" />
        <activity android:name=".ui.WechatAlbumPreviewActivity" />
    </application>
</manifest>
